header{
    background-color: grey;
    padding: 10px;
    border: 1px black solid;
    
}
.index{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
footer{
    text-align: center;
    background-color: grey;
}
img{
    height: 500px;
    width: 320px;
    margin: 10px;
    border-radius: 5px;
    border: 3px black solid;
}
div{
    border-radius: 5px;
    border: 1px black solid;
    text-align: center;
    margin: 20px;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.quadros{
    background-color: whitesmoke;
    border: 1px black solid;
    border-radius: 5px;
    width: 100px;
    padding: 1px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    transition: 0.5s all ease-in-out;
    cursor: pointer;
    font-weight: bold;
}
.quadros:hover{
    transform: scale(1.1);
}
.obras{
    width: auto;
    height: auto;
}
.div1{
    display: flex;
    grid-template-columns:auto auto auto;
}
.div2{
    display: flex;
    grid-template-columns:auto auto auto;
}
.van{
    border-radius: 5px;
    border: 1px black solid;
    text-align: center;
    margin: 20px;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 50%;
}
.div1 div{
    overflow-y: auto;
    width: 50%;
    height:auto;
}
.div2 div{
    overflow-y: auto;
    width: 50%;
    height:auto;
}







